<div class="container">
  <div class="row mb-3">
    <div class="col-md-4 container">
      <app-team-effort-overview [resources]="resources"></app-team-effort-overview>
    </div>
    <div class="col-md-4 container"></div>
    <div class="col-md-4 container"></div>
  </div>
  <div class="row mb-3">
    <div class="col-md-8 container">
      <app-team-effort-overview-extended [resources]="resources"></app-team-effort-overview-extended>
    </div>
    <div class="col-md-4 container"></div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 container"></div>
    <div class="col-md-4 container"></div>
    <div class="col-md-4 container"></div>
  </div>
</div>